<div>
  <h1>MES</h1>
  <div>
    <strong>Выбор окна:</strong>
    <div>
      <p-select [options]="windowsList" [(ngModel)]="selectedWindow" [checkmark]="true" optionLabel="name"
                (onClear)="onClear()"
                [showClear]="true" placeholder="Выберите окно для работы" class="w-full md:w-56"/>
    </div>

    @if (selectedWindow?.code === "ScanPointsSetting") {
      <div class="setting-card">
        <app-scan-points-setting></app-scan-points-setting>
      </div>
    }
  </div>
</div>
