
.header-list {
  list-style: none;
  display: inline-block;
  flex-wrap: wrap;
}

.header-list li {
  margin: 5px;
  display: inline-block;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.notify {
  display: inline-block;
}

.notify a {
  position: fixed;
  text-align: right;
  margin: 5px 10px 10px 15px;
  right: 5px;
  z-index: 100;
}

.notify span {
  width: 100px;
}


.active, .active:hover {
  background-color: #31c228;
}

.exit {
  text-align: right;
}
