button.btn {
  margin: 5px;
  width: 100%;
}

.active {
  border: 3px solid red;
}

.main {
  margin: 5px;
}

.signout {
  margin: 5px 15px;
}

.header-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.header-list li {
  margin: 5px;
}
