button.btn {
  margin: 5px;
  width: 100%;
}

.active {
  border: 3px solid red;
}

.main {
  margin: 5px;
  position: absolute;
  top:69px;
  width: 100%;
  //overflow-y: scroll;
}

.signout {
  margin: 0px 15px 25px 25px;
}

.header-list {
  list-style: none;
  display: inline-block;
  //flex-wrap: wrap;
}

.header-list li {
  margin: 5px;
  display: inline-block;
}

.main-menu{
  height: 75px;
  vertical-align: middle;
}
