.caption-ctrl {
  margin: 25px;
}

.caption {
  margin-bottom: 15px;
}

.refresh {
  float: right;

}

.del-block {
  margin: 15px;
  display: inline;
  float: left;
}

.edit-block {
  margin: 15px;
  display: inline;
  float: right;
}
