<div class="row">
  <div class="col-4">
    <fieldset>
      <legend>Список пользователей</legend>
      <p-button label="Добавить пользователя" (onClick)="newUserDialogVisible=true"></p-button>
      <table class="table table-active">
        <thead>
        <tr>
          <th>Пользователь</th>
          <th>Роль</th>
          <th>Активность</th>
        </tr>
        </thead>
        <tbody>
          @for (login of logins; track login.name) {

            @if (login.role !== Roles.User) {
              <tr [class.active-role]="login.isActive">
                <td>{{ login.name }}
                  <p-button size="small" title="Удалить пользователя" [disabled]="auth.name === login.name"
                            icon="pi pi-minus" variant="text" severity="danger"
                            (click)="deleteUser(login)"></p-button>
                </td>
                <td>{{ Roles[login.role] }}
                  <p-button size="small" [disabled]="auth.name === login.name" title="Сменить роль пользователя"
                            icon="pi pi-pencil" variant="text"
                            severity="info"
                            (click)="openChangeRoleDialog(login)"></p-button>
                  <p-button size="small" title="Сменить пароль" icon="pi pi-check" variant="text"
                            severity="info"
                            (click)="openChangePasswordDialog(login)"></p-button>
                </td>
                <td>{{ login.isActive }}
                  <p-button size="small" title="Сменить активность" icon="pi pi-check" variant="text"
                            severity="info"
                            (click)="changeActivity(login)"></p-button>
                </td>
              </tr>
            }
          }
        </tbody>
      </table>
    </fieldset>
  </div>
  <div class="col-4">
    <fieldset>
      <legend>Тип надстройки</legend>
      <p-button label="Добавить тип надстройки" (onClick)="newCarExecutionVisible=true"></p-button>
      <table class="table table-active">
        <thead>
        <tr>
          <th>Код</th>
          <th>Название</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
          @for (carExecution of carExecutions; track carExecution.id) {
            <tr>
              <td>{{ carExecution.code }}</td>
              <td>{{ carExecution.name }}
              </td>
              <td>
                <p-button size="small" title="Удалить тип надстройки"
                          icon="pi pi-minus" variant="text" severity="danger"
                          (click)="deleteCarExecution(carExecution)"></p-button>
                <p-button size="small" title="Изменить тип надстройки"
                          icon="pi pi-pencil" variant="text"
                          severity="info"
                          (click)="openChangeCarExecutionDialog(carExecution)"></p-button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </fieldset>
  </div>
</div>
<!--Диалог для создания нового пользователя    -->
<p-dialog header="Создание нового пользователя" [modal]="true" [(visible)]="newUserDialogVisible"
          [style]="{ width: '35rem' }">
  <div class="flex items-center gap-4 mb-4">
    <label for="login" class="font-semibold w-24">Логин:</label>
    <input [pAutoFocus]="true" pInputText #loginName id="login" class="flex-auto form-control" autocomplete="off"/>
  </div>
  <div class="flex items-center gap-4 mb-4">
    <label for="role" class="font-semibold w-24">Роль:</label>
    <select pInputText #role id="role" class="flex-auto form-control" autocomplete="off">
      @for (key of roles; track key) {
        @if (key !== Roles.User.toString()) {
          <option value="{{key}}">{{ Roles[key] }}</option>
        }

      }
    </select>
  </div>
  <div class="flex items-center gap-4 mb-4">
    <label for="password" class="font-semibold w-24">Пароль:</label>
    <input pInputText #password id="password" type="password" class="flex-auto form-control" autocomplete="off"/>
  </div>
  <div class="flex justify-end gap-2">
    <p-button label="Сохранить"
              (click)="addUser({name:loginName.value.trim(),password:password.value.trim(),role:+role.value.trim(),isActive:false})"/>
    <p-button label="Отмена" severity="secondary" (click)="newUserDialogVisible = false"/>
  </div>
</p-dialog>
<!--Диалог для смены роли-->
<p-dialog header="Сменить роль" [modal]="true" [(visible)]="changeRoleDialogVisible"
          [style]="{ width: '35rem' }">
  <div class="flex items-center gap-4 mb-4">
    <label for="login" class="font-semibold w-24">Логин:</label>
    <input [pAutoFocus]="true" pInputText #l disabled="true" [value]="login?.name" readonly id="login"
           class="flex-auto form-control"
           autocomplete="off"/>
  </div>
  <div class="flex items-center gap-4 mb-4">
    <label for="role" class="font-semibold w-24">Роль:</label>
    <select pInputText #r id="role" class="flex-auto form-control" [value]="login?.role" autocomplete="off">
      @for (key of roles; track key) {
        @if (key !== Roles.User.toString()) {
          <option value="{{key}}">{{ Roles[key] }}</option>
        }
      }
    </select>
  </div>
  <div class="flex justify-end gap-2">
    <p-button label="Сохранить"
              (click)="changeRole(l.value.trim(),+r.value.trim())"/>
    <p-button label="Отмена" severity="secondary" (click)="changeRoleDialogVisible = false"/>
  </div>
</p-dialog>
<!--Диалог для смены пароля-->
<p-dialog header="Сменить пароль" [modal]="true" [(visible)]="changePasswordDialogVisible"
          [style]="{ width: '35rem' }">
  <div class="flex items-center gap-4 mb-4">
    <label for="login" class="font-semibold w-24">Старый пароль:</label>
    <input [pAutoFocus]="true" pInputText #oldPassword type="password" [value]="login?.name" id="oldPassword"
           class="flex-auto form-control" autocomplete="off"/>
  </div>
  <div class="flex items-center gap-4 mb-4">
    <label for="login" class="font-semibold w-24">Новый пароль:</label>
    <input [pAutoFocus]="true" pInputText #newPassword type="password" [value]="login?.name" id="newPassword"
           class="flex-auto form-control" autocomplete="off"/>
  </div>

  <div class="flex justify-end gap-2">
    <p-button label="Сохранить"
              (click)="changePassword(oldPassword.value.trim(),newPassword.value.trim())"/>
    <p-button label="Отмена" severity="secondary" (click)="changePasswordDialogVisible = false"/>
  </div>
</p-dialog>

<!--Диалог для создания нового типа надстройки    -->
<p-dialog header="Создание нового типа надстройки" [modal]="true" [(visible)]="newCarExecutionVisible"
          [style]="{ width: '35rem' }">
  <div class="flex items-center gap-4 mb-4">
    <label for="carExecutionCode" class="font-semibold w-24">Код:</label>
    <input [pAutoFocus]="true" pInputText #carExecutionCode id="carExecutionCode" [minLength]="2" [maxLength]="2"
           class="flex-auto form-control" autocomplete="off"/>
  </div>
  <div class="flex items-center gap-4 mb-4">
    <label for="carExecutionName" class="font-semibold w-24">Название:</label>
    <input [pAutoFocus]="true" pInputText #carExecutionName id="carExecutionName" class="flex-auto form-control"
           autocomplete="off"/>
  </div>
  <div class="flex justify-end gap-2">
    <p-button label="Сохранить"
              (click)="addCarExecution({code:carExecutionCode.value, name:carExecutionName.value,id:0})"/>
    <p-button label="Отмена" severity="secondary" (click)="newCarExecutionVisible = false"/>
  </div>
</p-dialog>
<!--Диалог для изменения типа надстройки-->
<p-dialog header="Изменить тип надстройки" [modal]="true" [(visible)]="changeCarExecutionVisible"
          [style]="{ width: '35rem' }">
  <div class="flex items-center gap-4 mb-4">
    <label for="carExecutionCodeChange" class="font-semibold w-24">Код:</label>
    <input [pAutoFocus]="true" pInputText #carExecutionCodeChange id="carExecutionCodeChange" [minLength]="2"
           [maxLength]="2"
           [value]="carExecution?.code" class="flex-auto form-control" autocomplete="off"/>
  </div>
  <div class="flex items-center gap-4 mb-4">
    <label for="carExecutionNameChange" class="font-semibold w-24">Название:</label>
    <input [pAutoFocus]="true" pInputText #carExecutionNameChange id="carExecutionNameChange"
           [value]="carExecution?.name" class="flex-auto form-control" autocomplete="off"/>
  </div>
  <div class="flex justify-end gap-2">
    <p-button label="Сохранить"
              (click)="changeCarExecution(carExecutionCodeChange.value.trim(),carExecutionNameChange.value.trim())"/>
    <p-button label="Отмена" severity="secondary" (click)="changeCarExecutionVisible = false"/>
  </div>
</p-dialog>
<p-confirm-dialog/>
