<div>
  <div class="card flex justify-center">
    <p-toolbar class="mb-6">
      <ng-template #start>
        <p-button label="Добавить участок" icon="pi pi-plus" severity="primary" class="mr-2"
                  (onClick)="openNewAreaDialog()"/>
      </ng-template>
    </p-toolbar>
    <!--Дилог для создания нового участка    -->
    <p-dialog header="Создание нового участка" [modal]="true" [(visible)]="visibleNewAreaDialog"
              [style]="{ width: '35rem' }">
      <div class="flex items-center gap-4 mb-4">
        <label for="areaname" class="font-semibold w-24">Название</label>
        <input [pAutoFocus]="true" pInputText #areaName id="areaname" class="flex-auto" autocomplete="off"/>
      </div>
      <div class="flex items-center gap-4 mb-4">
        <label for="range" class="font-semibold w-24">Диапазон ID для станций</label>
        <input [pAutoFocus]="true" pInputText #areaRange id="range" class="flex-auto" autocomplete="off"/>
      </div>
      <div class="flex justify-end gap-2">
        <p-button label="Сохранить" (click)="saveNewArea(areaName.value, areaRange.value)"/>
        <p-button label="Отмена" severity="secondary" (click)="visibleNewAreaDialog = false"/>
      </div>
    </p-dialog>
    <!--Диалог для создания новой станции    -->
    <p-dialog header="Создание новой станции" [modal]="true" [(visible)]="visibleNewStationDialog"
              [style]="{ width: '25rem' }">
      <div class="flex items-center gap-4 mb-4">
        <label for="stationname" class="font-semibold w-24">Название</label>
        <input [pAutoFocus]="true" pInputText #stationName id="stationname" class="flex-auto" autocomplete="off"/>
      </div>
      <div class="flex items-center gap-4 mb-4">
        <label for="stationcode" class="font-semibold w-24">Код станции</label>
        <input pInputText #stationCode type="number" id="stationcode" class="flex-auto" autocomplete="off"/>
      </div>
      <div class="flex justify-end gap-2">
        <p-button label="Сохранить" (click)="saveNewStation(stationName.value, +stationCode.value)"/>
        <p-button label="Отмена" severity="secondary" (click)="visibleNewStationDialog = false"/>
      </div>
    </p-dialog>
    <p-confirm-dialog/>
    <app-area-edit-dialog (onEdit)="editArea($event)" [originalData]="area" (onCancel)="cancelAreaEdit()"
                          [visible]="visibleEditAreaDialog" title="Редактирование участка"></app-area-edit-dialog>
    <app-station-edit-dialog (onEdit)="editStation($event)" [originalData]="station" (onCancel)="cancelStationEdit()"
                             [visible]="visibleEditStationDialog"
                             title="Редактирование станции"></app-station-edit-dialog>
  </div>
  <div class="border-card" #frmBlock>
    <form (ngSubmit)="submitData()" [formGroup]="form">
      <div class="row">
        <div class="col-4">

          <table class="table table-bordered">
            <thead>
            <tr>
              <th style="width: 350px">Участок</th>
              <th style="width: 350px">Станция</th>
              <th style="width: 350px">Значение</th>
            </tr>
            </thead>
            <tbody pTableBody>
              @for (a of areas; track a.id) {
                <tr>
                  <td [attr.rowspan]="a.stations.length+1">{{ a.name }}
                    <br>{{ a.range.trim() ? '(' + a.range + ')' : null }}

                    <p-button size="small" title="Редактировать участок" icon="pi pi-pencil" variant="text"
                              severity="info"
                              (click)="openEditAreaDialog(a)"></p-button>
                    <p-button size="small" title="Удалить участок" icon="pi pi-minus" variant="text" severity="danger"
                              (click)="deleteArea(a)"></p-button>
                  </td>
                  @if (a.stations.length == 0) {
                    <td>
                      <p-button size="small" title="Добавить станцию" icon="pi pi-plus" variant="text" severity="info"
                                (click)="openNewStationDialog(a)"></p-button>
                    </td>
                  }
                </tr>
                @for (s of a.stations; track s.id) {
                  <tr>
                    <td>{{ s.name }}<br/>(ID{{ s.chartElementId }})</td>
                    <td>
                      <div>
                        <input [style]="{display:'inline',width:'55px'}" [formControlName]="s.id" class="form-control"
                               [maxLength]="3" type="text" [id]="s.id">

                        <p-button size="small" title="Добавить станцию" icon="pi pi-plus" variant="text" severity="info"
                                  (click)="openNewStationDialog(a)"></p-button>
                        <p-button size="small" title="Редактировать станцию" icon="pi pi-pencil" variant="text"
                                  severity="info"
                                  (click)="openEditStationDialog(s)"></p-button>
                        <p-button size="small" title="Удалить станцию" icon="pi pi-minus" variant="text"
                                  severity="danger"
                                  (click)="deleteStation(s)"></p-button>
                      </div>
                    </td>
                  </tr>
                }
              }
            </tbody>
          </table>
        </div>
        <div class="col-4">
          <p-fileupload name="file" [url]="fileUploadUrl" chooseLabel="Выберите файл для загрузки"
                        uploadLabel="Загрузить" cancelLabel="Отменить" (onUpload)="onUpload($event)" [multiple]="false"
                        accept=".csv" maxFileSize="10000000" mode="advanced">
            <ng-template #empty>
              <div>Перетащите csv файл для загрузки.</div>
            </ng-template>
          </p-fileupload>
        </div>
      </div>
      <div>
        <button pButton type="submit" pButtonLabel="Сохранить" severity="success"
                [disabled]="!form.valid">
          <i class="pi pi-check" pButtonIcon></i>
          <span pButtonLabel>Сохранить</span>
        </button>
      </div>
    </form>
  </div>

</div>
