<div>
  <div class="border-card" #frmBlock>
    <form (ngSubmit)="submitData()" [formGroup]="form">
      <div class="row">
        <div class="col-4">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>Участок</th>
              <th>Станция</th>
              <th>Значение</th>
            </tr>
            </thead>
            <tbody>
              @for (a of areas; track a.id) {
                <td [attr.rowspan]="a.stations.length+1">{{ a.name }}</td>
                @for (s of a.stations; track s.id) {
                  <tr>
                    <td>{{ s.name }}</td>
                    <td>
                      <input [formControlName]="s.id" class="form-control" [maxLength]="3" type="text" [id]="s.id">
                    </td>
                  </tr>
                }
              }
            </tbody>
          </table>
        </div>
      </div>
      <div>
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
      </div>
    </form>
  </div>
</div>
